@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    /* COLOR VARIABLES */
    --backgroundColor: #f8f8f8;
    --bigTextColor: #2e1f55;
    --smallTextColor: #636363;
    --outlineColor: #d9d9d9;

    /* TEXT VARIABLES */
    --headlineTextSize: 3.25rem;
    --bodyTextSize: 1rem;
    --buttonTextSize: 1.1rem;
    --titleTextSize: 1.5rem;

    /* SPACE VARIABLES */
    --bigPadding: 2rem;
    --smallPadding: 1rem;
    --columnGapSpace: 0.75rem;
    --bigRowGapSpace: 4rem;
    --mediumRowGap: 1.5rem;
    --smallRowGapSpace: 1rem;
    --smallerRowGapSpace: 0.75rem;
}

/* To define color theme (either light or dark mode)*/
@media (prefers-color-scheme: dark){
    :root{
        --backgroundColor: #230b42;
        --bigTextColor: #f8f8f8;
        --smallTextColor: #d9d9d9;
    }
}

.card-container{
    width: 35%;
    height: auto;
    background-color: var(--backgroundColor);
    margin: 4rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: var(--mediumRowGap);
    border-radius: 0.75rem;
    border: 1px solid var(--outlineColor);
}

.top-card-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.35rem;
}

.premium-container{
    width: fit-content;
    height: auto;
}

.premium-container p{
    font-size: var(--titleTextSize);
    font-weight: 600;
}

.price-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.figure-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    column-gap: 0.25rem;
}

.figure-container h1{
    font-size: var(--headlineTextSize);
    font-weight: 500;
    color: var(--bigTextColor);
}

.figure-container p{
    font-size: var(--bodyTextSize);
    color: var(--smallTextColor);
}

.card-details-container{
    width: 100%;
    height: auto;
}

.card-details-container p{
    color: var(--smallTextColor);
    font-size: var(--bodyTextSize);
}

.bottom-card-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: var(--smallRowGapSpace);
}

.card-image-container{
    width: 100%;
    height: auto;
    background-image: url(./image/image.png);
    padding: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

.card-button-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 0.4rem;
}

.thumb-container{
    width: fit-content;
    height: auto;
    background-color: black;
    padding: 0.6rem;
    border-radius: 0.35rem;
    color: white;
    cursor: pointer;
}

.button-container{
    width: 100%;
    height: auto;
}

.button-container button{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 0.75rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    color: white;
    cursor: pointer;
}
